[user]
	email = myemail@email.com
	name = FirstName LastName
[alias]
	s = status
	sw = switch
	pog = push origin
	pug = pull origin
	cob = checkout -b
	chomp = commit -m
	au = add -u
	poggers = pog main # Only use if changes are very pog
        reel = reset HEAD~1 --soft # 'reels back' the last commit i.e. undoes last commit without losing changes (if not pushed yet)
	diffor = diff origin/main # diffORigin but sounds like differ, only works if remote master branch is named main
	rtc = "!f() { git commit -m\"Retriggering checks\" --allow-empty && git push ;}; f" # reruns GitHub PR checks, credit: https://stackoverflow.com/a/52412240
        # Adds state of things to git stash without actually undoing them
        # Basically more efficient way to accomplish this:
        # git stash && git stash apply
        # Use after you finally solve that annoying issue but you need to
        # save in case you break it removing all those print stmts :)
        # Bonus points if you throw your hands up and say "score!"
	score = "!git stash store \"$(git stash create)\""
	vd = difftool --tool=vimdiff -y
[core]
	editor = vim
